$color1: silver;
$color2: blue;

.text-effect {
	overflow: hidden;
	position: relative;
	filter: contrast(110%) brightness(190%);
	> .neon {
		position: relative;
		background: black;
		color: transparent;
	}
}
