$color1: silver;
$color2: blue;

.text-effect {
	overflow: hidden;
	position: relative;
	filter: contrast(110%) brightness(190%);
	> .neon {
		position: relative;
		background: black;
		color: transparent;

		&::before,
		&::after {
			content: attr((data-text));
			color: white;
			filter: blur(.02em);
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		&::after {
			// mix-blend-mode: color;
			mix-blend-mode: difference;
		}
	}

	> .gradient,
	.spotlight {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: 10;
		z-index: 10;
	}
}
